<style>
    @import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New&display=swap');

    .simplebar-content {
        color: #5465f1;
        border-radius: 10px;
        padding-top: 20px;
        margin-bottom: 20px;
        font-family: 'Zen Kaku Gothic New', sans-serif;
    }
        .a {
        color: #5465f1;
        font-family: 'Zen Kaku Gothic New', sans-serif;
    }
   .grow {
        border-radius: 10px;
        padding-top: 20px;
        margin-bottom: 20px;
        font-family: 'Zen Kaku Gothic New', sans-serif;
   }
</style>
